# We Rate Dogs Project

## Content
* Data Wrangling
    * Data Gathering 
    * Data Assessing
    * Data Cleaning
* Data Exploration
* Data Visualization

In [1]:
# importing packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
import requests
import tweepy
import json

%matplotlib inline

## Data Gathering

In [2]:
# create the archive dataframe from csv file
df_archive = pd.read_csv('data/twitter-archive-enhanced.csv')

In [3]:
# getting the file using requests package
link = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
image_predictions = requests.get(link)

# write the file in local disk 
with open('data/image_predictions.tsv', mode='wb') as file:
    file.write(image_predictions.content)
    
# create the image predictions dataframe from tsv file    
df_image_predictions = pd.read_csv('data/image_predictions.tsv', sep='\t')

In [4]:
tweets = []

# reading the text file
with open('data/tweet-json.txt') as json_file:
    # looping through all lines in the file
    for line in json_file:
        # reading the line using json package
        data = json.loads(line)
        
        # saving line inforamtion in tweet variable
        tweet = {'tweet_id': data['id'],
             'retweet': data['retweet_count'],
             'favorite': data['favorite_count']}
        
        # holding tweet variable in tweets list
        tweets.append(tweet)
        
df_tweets = pd.DataFrame(tweets)

In [5]:
df_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [6]:
df_image_predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [7]:
df_tweets.head()

   favorite  retweet            tweet_id
0     39467     8853  892420643555336193
1     33819     6514  892177421306343426
2     25461     4328  891815181378084864
3     42908     8964  891689557279858688
4     41048     9774  891327558926688256

## Data Assessing

* archive table
    * name column contains 'None' string rather than numpy's NaN  object
    * tweet_id should be string type not int64 type
    * timestamp column is string not a datetime object
    * doggo, floofer, pupper and puppo columns should be restructured
    * there are 55 dogs with name "a" and 8 with name "the" and 7 with name "an" and 4 with name "just"
    * rating_numerator and rating_denominator columns are has alot of missleading values
    * tweet with id 832088576586297345 is just starting account tweet
    * make all rating denominator 10 based
    * there are some numerator that are above 50
* image predictions table
    * tweet_id should be string type not int64 type
    * p1, p2 and p3 columns contains underscore
* tweets table
    * tweet_id should be string type not int64 type
    * tweets table should be part of archive table

In [8]:
df_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [9]:
df_image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [10]:
df_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
favorite    2354 non-null int64
retweet     2354 non-null int64
tweet_id    2354 non-null int64
dtypes: int64(3)
memory usage: 55.2 KB

In [11]:
df_archive.name.value_counts()

None           745
a               55
Charlie         12
Oliver          11
Cooper          11
Lucy            11
Lola            10
Tucker          10
Penny           10
Bo               9
Winston          9
Sadie            8
the              8
Toby             7
an               7
Buddy            7
Daisy            7
Bailey           7
Stanley          6
Rusty            6
Oscar            6
Bella            6
Scout            6
Dave             6
Jax              6
Koda             6
Milo             6
Leo              6
Jack             6
Gus              5
              ...
Ito              1
Buddah           1
Eevee            1
Deacon           1
Rilo             1
Tom              1
Rey              1
Billl            1
Shikha           1
Tommy            1
Devón            1
Kingsley         1
Gòrdón           1
Shakespeare      1
Corey            1
Bauer            1
Augie            1
Cermet           1
Blakely          1
Monkey           1
Harlso           1
Noah             1
Evy              1
Gustav           1
Sojourner        1
Hanz             1
Lacy             1
Pavlov           1
Ricky            1
Cecil            1
Name: name, Length: 957, dtype: int64

In [12]:
df_archive.query('rating_denominator != 10')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
313,835246439529840640,8.352460e+17,2.625958e+07,2017-02-24 21:54:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@jonnysun @Lin_Manuel ok jomny I know you're e...,NaN,NaN,NaN,NaN,960,0,None,None,None,None,None
342,832088576586297345,8.320875e+17,3.058208e+07,2017-02-16 04:45:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@docmisterio account started on 11/15/15,NaN,NaN,NaN,NaN,11,15,None,None,None,None,None
433,820690176645140481,NaN,NaN,2017-01-15 17:52:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The floofs have been released I repeat the flo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/820690176...,84,70,None,None,None,None,None
516,810984652412424192,NaN,NaN,2016-12-19 23:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Sam. She smiles 24/7 &amp; secretly aspir...,NaN,NaN,NaN,"https://www.gofundme.com/sams-smile,https://tw...",24,7,Sam,None,None,None,None
784,775096608509886464,NaN,NaN,2016-09-11 22:20:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...","RT @dog_rates: After so many requests, this is...",7.403732e+17,4.196984e+09,2016-06-08 02:41:38 +0000,https://twitter.com/dog_rates/status/740373189...,9,11,None,None,None,None,None
902,758467244762497024,NaN,NaN,2016-07-28 01:00:57 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Why does this never happen at my front door......,NaN,NaN,NaN,https://twitter.com/dog_rates/status/758467244...,165,150,None,None,None,None,None
1068,740373189193256964,NaN,NaN,2016-06-08 02:41:38 +0000,"<a href=""http://twitter.com/download/iphone"" r...","After so many requests, this is Bretagne. She ...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/740373189...,9,11,None,None,None,None,None
1120,731156023742988288,NaN,NaN,2016-05-13 16:15:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to this unbelievably well behaved sq...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/731156023...,204,170,this,None,None,None,None
1165,722974582966214656,NaN,NaN,2016-04-21 02:25:47 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Happy 4/20 from the squad! 13/10 for all https...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/722974582...,4,20,None,None,None,None,None
1202,716439118184652801,NaN,NaN,2016-04-03 01:36:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bluebert. He just saw that both #Final...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/716439118...,50,50,Bluebert,None,None,None,None
1228,713900603437621249,NaN,NaN,2016-03-27 01:29:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Happy Saturday here's 9 puppers on a bench. 99...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/713900603...,99,90,None,None,None,None,None
1254,710658690886586372,NaN,NaN,2016-03-18 02:46:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a brigade of puppers. All look very pre...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/710658690...,80,80,None,None,None,None,None
1274,709198395643068416,NaN,NaN,2016-03-14 02:04:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...","From left to right:\nCletus, Jerome, Alejandro...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/709198395...,45,50,None,None,None,None,None
1351,704054845121142784,NaN,NaN,2016-02-28 21:25:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a whole flock of puppers. 60/50 I'll ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/704054845...,60,50,a,None,None,None,None
1433,697463031882764288,NaN,NaN,2016-02-10 16:51:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Happy Wednesday here's a bucket of pups. 44/40...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/697463031...,44,40,None,None,None,None,None
1598,686035780142297088,6.860340e+17,4.196984e+09,2016-01-10 04:04:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Yes I do realize a rating of 4/20 would've bee...,NaN,NaN,NaN,NaN,4,20,None,None,None,None,None
1634,684225744407494656,6.842229e+17,4.196984e+09,2016-01-05 04:11:44 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Two sneaky puppers were not initially seen, mo...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/684225744...,143,130,None,None,None,None,None
1635,684222868335505415,NaN,NaN,2016-01-05 04:00:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Someone help the girl is being mugged. Several...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/684222868...,121,110,None,None,None,None,None
1662,682962037429899265,NaN,NaN,2016-01-01 16:30:13 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darrel. He just robbed a 7/11 and is i...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/682962037...,7,11,Darrel,None,None,None,None
1663,682808988178739200,6.827884e+17,4.196984e+09,2016-01-01 06:22:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...","I'm aware that I could've said 20/16, but here...",NaN,NaN,NaN,NaN,20,16,None,None,None,None,None
1779,677716515794329600,NaN,NaN,2015-12-18 05:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",IT'S PUPPERGEDDON. Total of 144/120 ...I think...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/677716515...,144,120,None,None,None,None,None
1843,675853064436391936,NaN,NaN,2015-12-13 01:41:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have an entire platoon of puppers. Tot...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675853064...,88,80,None,None,None,None,None
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Albanian 3 1/2 legged Episcopalian...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406...,1,2,an,None,None,None,None

In [13]:
df_archive[df_archive.rating_denominator != 10][['tweet_id', 'text', 'rating_numerator', 'rating_denominator']].values

array([[835246439529840640,
        "@jonnysun @Lin_Manuel ok jomny I know you're excited but 960/00 isn't a valid rating, 13/10 is tho",
        960, 0],
       [832088576586297345, '@docmisterio account started on 11/15/15',
        11, 15],
       [820690176645140481,
        'The floofs have been released I repeat the floofs have been released. 84/70 https://t.co/NIYC820tmd',
        84, 70],
       [810984652412424192,
        'Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \nKeep Sam smiling by clicking and sharing this link:\nhttps://t.co/98tB8y7y7t https://t.co/LouL5vdvxx',
        24, 7],
       [775096608509886464,
        'RT @dog_rates: After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https:/…',
        9, 11],
       [758467244762497024,
        'Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE',
        165, 150],
       [740373189193256964,
        'After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https://t.co/XAVDNDaVgQ',
        9, 11],
       [731156023742988288,
        'Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv',
        204, 170],
       [722974582966214656,
        'Happy 4/20 from the squad! 13/10 for all https://t.co/eV1diwds8a',
        4, 20],
       [716439118184652801,
        'This is Bluebert. He just saw that both #FinalFur match ups are split 50/50. Amazed af. 11/10 https://t.co/Kky1DPG4iq',
        50, 50],
       [713900603437621249,
        "Happy Saturday here's 9 puppers on a bench. 99/90 good work everybody https://t.co/mpvaVxKmc1",
        99, 90],
       [710658690886586372,
        "Here's a brigade of puppers. All look very prepared for whatever happens next. 80/80 https://t.co/0eb7R1Om12",
        80, 80],
       [709198395643068416,
        'From left to right:\nCletus, Jerome, Alejandro, Burp, &amp; Titson\nNone know where camera is. 45/50 would hug all at once https://t.co/sedre1ivTK',
        45, 50],
       [704054845121142784,
        "Here is a whole flock of puppers.  60/50 I'll take the lot https://t.co/9dpcw6MdWa",
        60, 50],
       [697463031882764288,
        "Happy Wednesday here's a bucket of pups. 44/40 would pet all at once https://t.co/HppvrYuamZ",
        44, 40],
       [686035780142297088,
        "Yes I do realize a rating of 4/20 would've been fitting. However, it would be unjust to give these cooperative pups that low of a rating",
        4, 20],
       [684225744407494656,
        'Two sneaky puppers were not initially seen, moving the rating to 143/130. Please forgive us. Thank you https://t.co/kRK51Y5ac3',
        143, 130],
       [684222868335505415,
        'Someone help the girl is being mugged. Several are distracting her while two steal her shoes. Clever puppers 121/110 https://t.co/1zfnTJLt55',
        121, 110],
       [682962037429899265,
        'This is Darrel. He just robbed a 7/11 and is in a high speed police chase. Was just spotted by the helicopter 10/10 https://t.co/7EsP8LmSp5',
        7, 11],
       [682808988178739200,
        "I'm aware that I could've said 20/16, but here at WeRateDogs we are very professional. An inconsistent rating scale is simply irresponsible",
        20, 16],
       [677716515794329600,
        "IT'S PUPPERGEDDON. Total of 144/120 ...I think https://t.co/ZanVtAtvIq",
        144, 120],
       [675853064436391936,
        'Here we have an entire platoon of puppers. Total score: 88/80 would pet all at once https://t.co/y93p6FLvVw',
        88, 80],
       [666287406224695296,
        'This is an Albanian 3 1/2 legged  Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv',
        1, 2]], dtype=object)

## Data Cleaning

first we should take a copy from each data frame to prevent losing data

In [14]:
df_archive_clean = df_archive.copy()
df_image_predictions_clean = df_image_predictions.copy()
df_tweets_clean = df_tweets.copy()

### define

tweet_id in all tables are contain categorical values so it should be string rather than int64

### code

In [15]:
df_archive_clean.tweet_id = df_archive_clean.tweet_id.astype(np.str)
df_image_predictions_clean.tweet_id = df_image_predictions_clean.tweet_id.astype(np.str)
df_tweets_clean.tweet_id = df_tweets_clean.tweet_id.astype(np.str)

### test

In [16]:
df_archive_clean.tweet_id.dtype

dtype('O')

In [17]:
df_image_predictions_clean.tweet_id.dtype

dtype('O')

In [18]:
df_tweets_clean.tweet_id.dtype

dtype('O')

### --------------------------------------------------------------------------------------------------------------------------------------------------------------
### define

doggo, floofer, pupper and puppo columns should be restructured using melt function

### code

In [19]:
columns = df_archive_clean.columns[:-4]
df_archive_clean = pd.melt(df_archive_clean, id_vars=columns, value_vars=['doggo', 'floofer', 'pupper', 'puppo'], value_name="dog_breed")
df_archive_clean.drop(columns='variable', axis=1, inplace=True)
df_archive_clean.drop_duplicates(inplace=True)

### test

In [20]:
df_archive_clean.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,dog_breed
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None

In [21]:
df_archive_clean.shape

(2750, 14)

### --------------------------------------------------------------------------------------------------------------------------------------------------------------
### define

name column contains 'None' string rather than numpy's NaN  object
using replace function to change the value

### code

In [22]:
df_archive_clean['name'].replace('None', np.nan, inplace=True)

### test

In [23]:
df_archive_clean[df_archive_clean.name == 'None'].shape[0]

0

### --------------------------------------------------------------------------------------------------------------------------------------------------------------
### define

there are 55 dogs with name "a" and 8 with name "the" and 7 with name "an" and 4 with name "just" 
switch these name with None

### code

In [24]:
# listing some wrong names
wrong_names = ['a', 'the', 'an', 'just']

def correct(row):
    if row['name'] in wrong_names:
        return None
    else:
        return row['name']

df_archive_clean['name'] = df_archive_clean.apply(correct, axis=1)

### test

In [25]:
# checking if there is 'a' in column 'name'
df_archive_clean[df_archive_clean['name'] == 'a'].shape[0]

0

In [26]:
# checking if there is 'the' in column 'name'
df_archive_clean[df_archive_clean['name'] == 'the'].shape[0]

0

In [27]:
# checking if there is 'an' in column 'name'
df_archive_clean[df_archive_clean['name'] == 'an'].shape[0]

0

In [28]:
# checking if there is 'just' in column 'name'
df_archive_clean[df_archive_clean['name'] == 'just'].shape[0]

0

### --------------------------------------------------------------------------------------------------------------------------------------------------------------
### define

p1, p2 and p3 columns contains underscore
replace the underscore with space

### code

In [29]:
df_image_predictions_clean['p1'] = df_image_predictions_clean['p1'].str.replace('_', ' ')
df_image_predictions_clean['p2'] = df_image_predictions_clean['p2'].str.replace('_', ' ')
df_image_predictions_clean['p3'] = df_image_predictions_clean['p3'].str.replace('_', ' ')

### test

In [30]:
df_image_predictions_clean.p1.str.contains('_').sum()

0

In [31]:
df_image_predictions_clean.p2.str.contains('_').sum()

0

In [32]:
df_image_predictions_clean.p3.str.contains('_').sum()

0

### --------------------------------------------------------------------------------------------------------------------------------------------------------------
### define

change the timestamp column in archive table from string type to datetime type

### code

In [33]:
# using pandas's to_datetime function to convert the type to datatime
df_archive_clean.timestamp = pd.to_datetime(df_archive_clean.timestamp)

### test

In [34]:
df_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2750 entries, 0 to 8151
Data columns (total 14 columns):
tweet_id                      2750 non-null object
in_reply_to_status_id         87 non-null float64
in_reply_to_user_id           87 non-null float64
timestamp                     2750 non-null datetime64[ns]
source                        2750 non-null object
text                          2750 non-null object
retweeted_status_id           219 non-null float64
retweeted_status_user_id      219 non-null float64
retweeted_status_timestamp    219 non-null object
expanded_urls                 2685 non-null object
rating_numerator              2750 non-null int64
rating_denominator            2750 non-null int64
name                          1752 non-null object
dog_breed                     2750 non-null object
dtypes: datetime64[ns](1), float64(4), int64(2), object(7)
memory usage: 322.3+ KB

### --------------------------------------------------------------------------------------------------------------------------------------------------------------
### define

tweets table should be part of archive table

### code

In [35]:
# using pandas's merge function to merge two dataframes
df_archive_clean= pd.merge(df_archive_clean, df_tweets_clean, on='tweet_id')

### test

In [36]:
df_archive_clean.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,dog_breed,favorite,retweet
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,39467,8853
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,33819,6514
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,25461,4328
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,42908,8964
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,41048,9774

### --------------------------------------------------------------------------------------------------------------------------------------------------------------
### define

tweet with id 832088576586297345 is just starting account tweet so delete it

### code

In [38]:
df_archive_clean = df_archive_clean.query('tweet_id != 832088576586297345')

### test

In [39]:
df_archive_clean.query('tweet_id == 832088576586297345')

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, dog_breed, favorite, retweet]
Index: []

### --------------------------------------------------------------------------------------------------------------------------------------------------------------
### define

make all rating denominator 10 based

### code

In [40]:
df_archive_clean['rating_numerator'] = (df_archive_clean.rating_numerator // (df_archive_clean.rating_denominator / 10))
df_archive_clean['rating_denominator'] = 10

### test

In [41]:
df_archive_clean.rating_numerator.value_counts()

 12.0      666
 11.0      555
 10.0      531
 13.0      416
 9.0       174
 8.0       122
 14.0       73
 7.0        64
 5.0        40
 6.0        34
 3.0        20
 4.0        16
 2.0        11
 1.0         8
 420.0       2
 27.0        2
 75.0        2
-0.0         2
 15.0        2
 17.0        1
 182.0       1
 26.0        1
 1776.0      1
 666.0       1
 34.0        1
Name: rating_numerator, dtype: int64

### --------------------------------------------------------------------------------------------------------------------------------------------------------------
### define

make all rating denominator 10 based

### code

In [42]:
df_archive_clean = df_archive_clean[df_archive_clean.rating_numerator <= 50]

### test

In [46]:
df_archive_clean.query('rating_numerator > 50').shape[0]

0

## Data Exploration

### Top 10 dog names

In [60]:
df_archive_clean.name.value_counts()[:10]

Cooper     14
Oliver     14
Bo         13
Charlie    13
Lucy       12
Lola       11
Tucker     10
Penny      10
Winston    10
Milo        8
Name: name, dtype: int64

### TOP 10 dog breed

In [65]:
df_image_predictions_clean[(df_image_predictions_clean.p1_conf > 0.70) & (df_image_predictions_clean.p1_dog == True)]['p1'].value_counts()[:10]

golden retriever      92
Labrador retriever    52
Pembroke              52
pug                   37
Chihuahua             34
Samoyed               25
Pomeranian            23
chow                  19
French bulldog        19
toy poodle            15
Name: p1, dtype: int64

## Data Visualization